<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Azure.CognitiveServices.Vision.ComputerVision" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.18" targetFramework="net472" />
  <package id="Microsoft.Rest.ClientRuntime.Azure" version="3.3.18" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
</packages>